<div class="Name">
  <h1>Skills & Portfolio</h1>
</div>
<!-- <a href="/pages/home">Return home</a> -->
<!-- <a href="/portfolio/">Return home</a> -->
<!-- <%= link_to 'home', root_path %> -->

<!-- <img src="https://images.pexels.com/photos/158607/cairn-fog-mystical-background-158607.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", id="image_skills" /> -->
<br>
<br>
<br>

<!-- ######################################################### -->
<!-- 折り畳み展開ポインタ -->
<div onclick="obj=document.getElementById('open').style; obj.display=(obj.display=='none')?'block':'none';">
<!-- <a style="cursor:pointer;"> -->
  <!--クリックで展開-->
<div class="box_ruby">
  <div class="box1">
    <h1>Ruby</h1>
	    <div class="bd1 bd11">
	    	<div class="bdT"></div>
	    	<div class="bdB"></div>
	    	<div class="bdR"></div>
	    	<div class="bdL"></div>
	    </div>
      <!-- 折り畳まれ部分 -->
      <div id="open" style="display:none;clear:both;">
      <!--ここの部分が折りたたまれる＆展開される部分になります。自由に記述してください。-->
      i have a pen
      i have an apple
      applepen
      <!--// 折り畳まれ部分 -->
      </div>
  </div>
</div>
<!--// 折り畳み展開ポインタ -->
<!-- </a> -->
</div>
<!-- ######################################################### -->



<br>

<div class="box_html">
  <div class="box2">
   	 <h1>HTML</h1>
       <div class="bd1 bd22">
	    	<div class="bdT"></div>
	    	<div class="bdB"></div>
	    	<div class="bdR"></div>
	    	<div class="bdL"></div>
	    </div>
  </div>
</div>

<br>

<div class="box_css">
  <div class="box3">
    <h1>CSS</h1>
      <div class="bd1 bd33">
        <div class="bdT"></div>
        <div class="bdB"></div>
        <div class="bdR"></div>
        <div class="bdL"></div>
      </div>
  </div>
</div>

<br>

<div class="box_ruby_on_rails">
  <div class="box4">
    <h1>Ruby on rails</h1>
      <div class="bd1 bd44">
        <div class="bdT"></div>
        <div class="bdB"></div>
        <div class="bdR"></div>
        <div class="bdL"></div>
      </div>
  </div>
</div>

<br>

<div class="box_others">
  <div class="box5">
    <h1>Others</h1>
      <div class="bd1 bd55">
        <div class="bdT"></div>
        <div class="bdB"></div>
        <div class="bdR"></div>
        <div class="bdL"></div>
      </div>
  </div>
</div>
