<div class="Name">
  <h1>Skills & Portfolio</h1>
<!-- <a href="/pages/home">Return home</a> -->
<!-- <a href="/portfolio/">Return home</a> -->
<!-- <%= link_to 'home', root_path %> -->

<!-- <img src="https://images.pexels.com/photos/158607/cairn-fog-mystical-background-158607.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb", id="image_skills" /> -->
<br>
<br>
<br>

<!-- ######################################################### -->
<!-- 折り畳み展開ポインタ -->
<div onclick="obj=document.getElementById('open').style; obj.display=(obj.display=='none')?'block':'none';">
<!-- <a style="cursor:pointer;"> -->
  <!--クリックで展開-->
<div class="box_atmapp">

  <div class="box1">
    <div class="ruby_atm">
      <%= link_to 'ATM App', 'https://github.com/TakahiroSuzukiqq/CFA-ATM-terminal-app'%>
	    <div class="bd1 bd11">
	    	<div class="bdT"></div>
	    	<div class="bdB"></div>
	    	<div class="bdR"></div>
	    	<div class="bdL"></div>
	    </div>
  </div>
</div>
</div>

<!-- ######################################################### -->

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="box_ruby2">
  <div class="box2">
   	 <div class="ruby_weather">
       <%= link_to 'Weather App', 'https://github.com/TakahiroSuzukiqq/weather-challenge' %>
       <div class="bd1 bd22">
	    	<div class="bdT"></div>
	    	<div class="bdB"></div>
	    	<div class="bdR"></div>
	    	<div class="bdL"></div>
	    </div>
  </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="box_htmlcss">
  <div class="box3">
    <div class="htmlcss_coming_soon">
      HTML & CSS
      <div class="bd1 bd33">
        <div class="bdT"></div>
        <div class="bdB"></div>
        <div class="bdR"></div>
        <div class="bdL"></div>
      </div>
  </div>
</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="box_ruby_on_rails">
  <div class="box4">
    <div class="ruby_on_rails_trump">
      Trump challenge
      <div class="bd1 bd44">
        <div class="bdT"></div>
        <div class="bdB"></div>
        <div class="bdR"></div>
        <div class="bdL"></div>
      </div>
  </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<!-- <div class="box_others">
  <div class="box5">
    <h1>Others</h1>
    <h2>Coming soon</h2>
      <div class="bd1 bd55">
        <div class="bdT"></div>
        <div class="bdB"></div>
        <div class="bdR"></div>
        <div class="bdL"></div>
      </div>
  </div>
</div> -->

REEADME of each portfolio, design process, hardship, screenshot

</div>
